\documentclass[letterpaper]{article}
\usepackage{fontspec}
\usepackage[margin=1.5cm]{geometry}
\usepackage{graphicx}
\usepackage{twemojis}

\setmainfont{DejaVu Sans}[Scale=2.5]
\pagestyle{empty}
\linespread{3.5}

\begin{document}

\centering
$body

\end{document}
